# Dependencies
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript cache
*.tsbuildinfo

# Output
build/
out/

# Misc
.DS_Store
*.pem

# Coverage
coverage/
.nyc_output/

# Optional
*.log
